body{
    background-color: aquamarine;
    text-align: center;
}



Button{
    width: 20vw;
    height: 10vw;
    background-color: white;
    margin: 1em;
}

.start{
    width: 50vw;
    height: 20vw;
    font-size: 4em;
    color: green;
}